<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.robot.rasman/mars/des/Dsl"
			class = "rasman.robot.mars.des.dsl.DslPackage"
			genModel = "model/generated/Dsl.genmodel" />
	</extension>
</plugin>
